{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-cont">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div id="hero-carousel" class="container-fluid">
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{{MEDIA_URL}}/carousel_bread.jpg" class="d-block w-100" alt="Bread">
        <div class="carousel-caption">
            <h3 class="text-uppercase text-black">Delicious homemade breads</h3>
            <hr style="width: 40%;">
            <a href="#" class="buy-now-btn btn-lg text-uppercase font-weight-bold">Shop Now</a>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{{MEDIA_URL}}/carousel_croissant.jpg" class="d-block w-100" alt="Croissant">
            <div class="carousel-caption">
                <h3 class="text-uppercase text-black">The best homemade croissants</h3>
                <hr style="width: 40%;">
                <a href="#" class="buy-now-btn btn-lg text-uppercase font-weight-bold">Shop Now</a>
            </div>
      </div>
      <div class="carousel-item">
        <img src="{{MEDIA_URL}}/carousel_carrotcake.jpg" class="d-block w-100" alt="Carrot Cake">
        <div class="carousel-caption">
            <h3 class="text-uppercase text-black">Yummy cakes!</h3>
            <hr style="width: 40%;">
            <a href="#" class="buy-now-btn btn-lg text-uppercase font-weight-bold">Shop Now</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock%}

{% block post_load_js %}
    {{ block.super }}
    <script type="text/javascript">
        $('.carousel').carousel( {
            setInterval: 1,
        });
    </script>
{% endblock %}